<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>How to create component?</strong></h5>
            <p class="card-text">Component are basic building block of Angular which control the HTML View.</p>
            <a routerLink='component' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Module?</strong></h5>
            <p class="card-text">An Angular module is set of Angular basic bulding block like Component, directive, service and etc.</p>
            <a routerLink='module' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Template?</strong></h5>
            <p class="card-text">Template represent the view of Angular Application.</p><br>
            <a routerLink='template' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Services?</strong></h5>
            <p class="card-text">Services are used to create component which can be shared across the entire application</p>
            <a routerLink='services' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Pipe?</strong></h5>
            <p class="card-text">Pipe, which takes input and transform it into desire output.</p><br>
            <a routerLink='pipe' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Directive?</strong></h5>
            <p class="card-text">Directive are used to add or remove behaviour in existing component instace.</p>
            <a routerLink='directive' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Data Binding?</strong></h5>
            <p class="card-text">Data binding define the communication between the component and DOM.</p>
            <a routerLink='dataBinding' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Component Communication?</strong></h5>
            <p class="card-text">Define the communication between the component.</p>
            <a routerLink='componentCommunication' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Angular Lifecycle hook?</strong></h5>
            <p class="card-text">Angular application goes through an entire set of processes or lifecycle right from its initiation to the end.</p>
            <a routerLink='lifeCycleHook' class="btn btn-success btn-block">Details with examplee</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>RxJs?</strong></h5>
            <p class="card-text">RxJS is a library for composing asynchronous and callback based code in functional reactive style.</p>
            <a routerLink='rxjs' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>Differences?</strong></h5>
            <p class="card-text">Here is listing of difference which define in Angular Application.</p><br>
            <a routerLink='difference' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title"><strong>NgRX?</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a routerLink='ngrx' class="btn btn-success btn-block">Details with example</a>
          </div>
        </div>
      </div>
    </div>
  </div>
